[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=halftonizm
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Halftonizm
Comment=Artistic halftone animation loop generator
